{% extends "base.html" %}

{% block content %}

    <header>
        <a href="{{ url_for('homepage') }}"><h1>Customer Insight AI</h1></a>
    </header>

    <div id="left_column">
        <a href="{{ url_for('profile') }}" id="profile_link">
            <div id="profile">
                <div id="profile_info">
                    <div id="profile_photo_container">
                        <img src="{{ url_for('profile_image') }}" alt="Profile Photo" id="profile_photo">
                    </div>
                    <div id="company_name">{{ session['user'] }}</div>
                </div>
            </div>
        </a>
        <a href="{{ url_for('data_visualisation') }}" id="dashboard_link">Dashboard</a>
        <a href="{{ url_for('upload_file') }}" id="upload_link">Upload Call</a>
        <div id="logout_image_container">
            <div id="logout_image_cont">
                <img src="{{ url_for('static', filename='images/logout_img.png') }}" alt="Logout Image" id="logout_image">
            </div>
            <a href="{{ url_for('logout') }}" id="logout_link">Logout</a>
        </div>
    </div>

    <div id = "div_line_chart">
        <div class="div_category">
            {% for intent_name, field_name in field_names.items() %}
            <form name="category_form" method="POST" action="{{ url_for('data_visualisation') }}">
                <input type="submit" id="{{ intent_name }}" class="cat" name="category" value="{{ field_name }}">
            </form>
            {% endfor %}
        </div>
        <div id = "line_chart">
            {{ plot_div|safe }}
        </div>
    </div>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.js"></script>

{% endblock %}